* {
    box-sizing: border-box;
    margin: 0%;
    background-color: black;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container {
    width: 940px;
    height: 600px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    overflow-x: hidden;
}
#carousel {
    width: fit-content;
    display: flex;
    gap: 10px;
}
.item {
    width: 920px;
    height: 580px;
    border: 2px solid aqua;
    color: aqua;
    padding: 10px;
    border-radius: 10px; 
    position: absolute;
    display: none;
}
.operator {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
button {
    width: 80px;
    height: 50px;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 5px;
}
.unhide {
    display: block;
}