* {
    box-sizing: border-box;
    margin: 0;
    background-color: #F5F5F7;
    padding-left: 0%;
    font-family: "Inter", sans-serif;
}
.header {
    width: 100vw;
    height: 1em;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #F5F5F7CC;
}
/* .main {
    display: flex;
    flex-direction: column;
} */
.menu {
    background-color: transparent;
    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 12px;
line-height: 60px;
letter-spacing: -0.28px;
text-align: center;
vertical-align: middle;

}
.notification_banner {
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background-color: #FFFFFF;
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
}
.header_bottom {
    width: 100vw;
    object-fit: fill;
}
.main {
    margin: 0em 5vw;
    gap: 80px;
}
/* Promotion */
.promotion {
    padding: 25px 0px;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.promotion_title {
    display: flex;
    padding: 20px;
    padding-left: 0%;
}
.promotion_products {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    overflow-x: scroll;
}
.promo_product {
    width: 136;
height: 146;
padding-top: 16px;
padding-right: 8px;
padding-bottom: 16px;
padding-left: 8px;
gap: 16px;
opacity: 1;
border-radius: 18px;

}
p {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;

}
.shelf_carousel {
    width: 100%;
    margin: 20px 0px;
    height: 600px;
    display: flex;
    /* flex-direction: column;
    justify-content: space-evenly; */
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
h1, h2 {
    color: rgb(89, 89, 89);
}
h1 {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 44px;
line-height: 52.01px;
letter-spacing: 0px;
vertical-align: middle;

}
h2 {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;

}
h1_1, h2_1{
    background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shelf_itembox {
    width: fit-content;
    gap: 20px;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}
.row-0>.products {
    width: 480px;
    height: 500px;
    opacity: 1;
    border-radius: 18px;
}
.row-0>.products:nth-child(1) {
    background: url(./images/storepage/shelf1/store-card-50-holiday-iphone-pro-202411_GEO_US.png)  no-repeat center center;
}
.row-0>.products:nth-child(2) {
    background: url(./images/storepage/shelf1/store-card-50-holiday-watch-s10-202411.png) no-repeat center center;
}
.row-0>.products:nth-child(4) {
    background: url(./images/storepage/shelf1/store-card-50-holiday-macbook-pro-202411.jpg) no-repeat center center;
    background-size: contain;
}
.row-0>.products:nth-child(3) {
    background: url(./images/storepage/shelf1/store-card-50-holiday-ipad-mini-202411.png);
}
.products {
    position: relative;
    gap: 12px;
    box-shadow: 2px 4px 12px 0px #00000014;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 18px;
}

.products:hover {
    scale: 102%;
    transition: 0.5s ease-in-out;
    box-shadow: 2px 4px 12px 0px #0000006e;
}

#itemtag {
    width: 100%;
    height: 30px;
    font-family: Inter;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
background-color: transparent;
color: #B64400;
}
#item_name {
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.2px;
vertical-align: middle;
background-color: transparent;
}
#item_price {
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
background-color: transparent;
}
.colorpicks {
    width: 253px;
    height: 58px;
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    justify-content: center;
    background-color: transparent;
}
#color-pick-bullet {
    width: 8px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px transparent 50%;
}

.row-1>.products {
    width: 313px;
    height: 500px;
    opacity: 1;
    border-radius: 18px;
}
.row-2>.products {
   width: 313px;
   height: 500px;
   border-radius: 18px;

}
.row-3>.products {
    width: 480px;
    height: 500px;
    border-radius: 18px;
    background-color: #FFFFFF;
}
.shelf-banner {
    width: 400px;
    height: 500px;
    padding: 30px;
    border: 18px;
    box-shadow: 2px 4px 12px 0px #00000014;
}
#ad1 {
    background: url(./images/storepage/shelf2/airpods_promax.jpg) no-repeat center center;
    background-size: cover;
    border: 18px;
}
#ad2 {
    background: url(./images/storepage/shelf3/1.jpg) no-repeat center center;
    background-size: cover;
    border: 18px;
}

.row-1 .products #inbox_product-img {
    width: 230px;
    height: 230px;
    align-self: center;
}

.shelf-banner {
    border-radius: 18px;
    object-fit: contain;
}

.row-3>.products:nth-child(1) {
    background: url(./images/storepage/shelf4/1.png) no-repeat center center;
    background-size: cover;
}
.row-3>.products:nth-child(3) {
    background: url(./images/storepage/shelf4/3.png) no-repeat center center;
    background-size: cover;
}
.row-3>.products:nth-child(4) {
    background: url(./images/storepage/shelf4/4.png) no-repeat center center;
    background-size: cover;
}
.grid_box {
    width: 646px;
    height: 500px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid_boxes {
    width: 313;
    height: 240;
    border-radius: 18px;
    background-color: #FFFFFF ;
    padding: 30px;
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 28px;
letter-spacing: 0px;
vertical-align: middle;
}
#itemtag_gray {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
color: #6E6E73;
background-color: transparent;
}
.row-4>.products {
    width: 480px;
    height: 500px;
    border-radius: 18px;
}
.row-4>.products:nth-child(1) {
    background: url(./images/storepage/shelf5/1.png) no-repeat center center;
    background-size: cover;
}
.row-4>.products:nth-child(2) {
    background: url(./images/storepage/shelf5/2.png) no-repeat center center;
    background-size: cover;
}
.row-4>.products:nth-child(3) {
    background: url(./images/storepage/shelf5/3.png) no-repeat center center;
    background-size: cover;
}
.row-4>.products:nth-child(4) {
    background: url(./images/storepage/shelf5/4.png) no-repeat center center;
    background-size: cover;
}
.row-5>.products {
    width: 400px;
    height: 500px;
    border-radius: 18px;
}
.row-5>.products:nth-child(1) {
    background: url(./images/storepage/shelf6/1.png) no-repeat center center;
    background-size: cover;
}
.row-5>.products:nth-child(2) {
    background: url(./images/storepage/shelf6/2.png) no-repeat center center;
    background-size: cover;
}
.row-5>.products:nth-child(3) {
    background: url(./images/storepage/shelf6/3.png) no-repeat center center;
    background-size: cover;
}
.row-5>.products:nth-child(4) {
    background: url(./images/storepage/shelf6/4.png) no-repeat center center;
    background-size: cover;
}
.row-5>.products:nth-child(5) {
    background: url(./images/storepage/shelf6/5..png) no-repeat center center;
    background-size: cover;
}
#offer_description {
    font-family: Inter;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
background-color: transparent;
}
#whitefont {
    color: white;
}
footer {
    width: 100%;
    height: 96px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    padding-bottom: 140px;
}
.footer_text {
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 26px;
line-height: 32px;
letter-spacing: 0px;
}
.quick_links {
    width: 125;
height: 40;
angle: 0 deg;
opacity: 1;
gap: 8px;
padding: 10px 12px;
border: 1px solid black;
border-radius: 999px;
border-width: 1px;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;

}
#link_arrow {
    background-image: url(./images/text-images/image.png) no-repeat center center;
    background-size: contain;
    background-color: transparent;
}
footer_menu {
    display: flex;
    gap: 20px;
}