* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #dddddda1;
}
main {
  position: relative;
  top: 140px;
  width: 377px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px #00000029;
  background-color: #ffffff;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textInputSection {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
h1 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  align-self: center;
}
input [type="checkbox" i] {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: rgb(218, 218, 218);
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 59px;
  border-radius: 6px;
  padding: 8px 16px;
  border: transparent;
  background-color: #3c82f6;
  color: #ffffff;
}

.item {
  width: 100%;
  background-color: rgba(218, 218, 218, 0.584);
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
}
p {
  font-size: 15px;
  color: #07060a;
  display: flex;
  align-items: center;
}
#listItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* input[type="checkbox"] {
  appearance: none;
  background-color: rgb(199, 199, 199);
  border: transparent;
  border-radius: 20%;
  padding: 10px;
  width: 20px;
  height: 20px;
}
input[type="checkbox"]:after {
  appearance: none;
  background-color: #3c82f6;
} */




.categorizer {
  width: 100%;
  display: flex;
  gap: 10px;
}
.categories {
  width: fit-content;
  flex: 1;
}

button[id="deleteBtn"] {
  cursor: pointer;
}