* {
  box-sizing: border-box;
  margin: 0%;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  background-color: #dddddda1;
}
main {
  position: relative;
  top: 140px;
  width: 377px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px #00000029;
  background-color: #ffffff;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textInputSection {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
h1 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2.5%;
  align-self: center;
}
input[type="text"] {
  width: 280px;
  padding: 8px 16px;
  border-radius: 5px;
  border: gray dashed 1px;
}
.checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(217, 217, 217);
  border: transparent;
}
button {
  border-radius: 6px;
  padding: 8px 16px;
  border: transparent;
  background-color: #3c82f6;
  color: #ffffff;
  flex: 1;
  cursor: pointer;
}

.item {
  width: 100%;
  background-color: rgba(218, 218, 218, 0.584);
  border-radius: 5px;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: stretch;
}
p {
  font-size: 15px;
  color: #07060a;
  display: flex;
  align-items: center;
  flex: 1;
}
#listItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deleteBtn {
    width: 80px;
    border-radius: 6px;
    padding: 8px 16px;
    border: transparent;
    background-color: #fdc0c0;
    color: #8b1e1e;
    cursor: pointer;
}
.categorizer {
  width: 100%;
  display: flex;
  gap: 10px;
  flex: 1;
}